@font-face {
    font-family: "esaManru";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "esaManru";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "esaManru";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.ttf") format("truetype");
    font-display: swap;
} 
.esaManru {
    font-family: "esaManru";
}
.esaManru300 {
    font-family: "esaManru";
    font-weight: 300;
}
.esaManru500 {
    font-family: "esaManru";
    font-weight: 500;
}
.esaManru700 {
    font-family: "esaManru";
    font-weight: 700;
}